//out : ../css/style.css

@charset "UTF-8";
@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

html{
  font-family: 'Open Sans', sans-serif;
}

body{
  background:linear-gradient(to right ,#00f298, #07f7f7);
  position:relative;
}

a{
  display:inline-block;
  text-decoration:none;
  color:#fff;
}

.clearfix::after{
  content:'';
  display:block;
  clear:both;
}

.hide{
  text-indent:-9999px;
}

/* base */

header{
  width:100%;
  height:75px;
  background:rgba(64,63,63,.5);
  position:absolute;
  z-index:101;

  #logo{
    margin:25px 0 0 20px;
    float:left;

    a{
      font-size:22px;
      font-weight:normal;
      text-transform:uppercase;
      transition:all .4s;
    }

    a:hover{
      color:rgba(255,163,102,1);
    }
  }//e:#logo

  #gnb{float:right;
     margin:25px 120px 0 0;

    a{
      font-size:16px;
      font-weight:300;
      transition:all .4s;
    }

    a:hover{
      color:rgba(255,163,102,1);
    }

    li{
      float:left; padding:0 25px;
    }
  }//e:#gnb

  #m_gnb, .sub2{
    display:none;
  }
}//e:header

.wrapopen,
.wrap2open,
.wrap3open,
.wrap4open{
  height:100vh !important;
}
#wrap{
  width:100%;
  height:100vh;
  position:relative;
  background:linear-gradient(to right ,#00f298, #07f7f7);
  overflow:hidden;
  transition:all 1s;

  #bg{
    text-align:center;

    img{
      position:absolute;
      top:-100px; z-index:0;
      left:0;
      width:100%;
      opacity:.15;
    }

  }//e:#bg

  #information{
    position:relative;

    h3{
      position:absolute;
      top:170px;
      left:15%;
      color:#fff;
      font-size:80px;
      font-weight:lighter;
      line-height:.8em;

      span{
        font-size:50px;
        font-weight:normal;
        text-transform:uppercase;
      }

      .b{
        font-size:30px;
        font-weight:normal;
        text-transform:uppercase;
      }
    }//e:h3

    .sns{
      position:absolute;
      top:420px;
      left:14%;

      li{
        float:left;
        padding:5px 10px;
      }
    }//e:.sns
  }//e:#information
  .iopen{
    top:23px !important;
  }

  #skills{
    #html{
      position:relative;
      top:530px;
      left:15%;
      z-index:999;
      color:#fff;

      .bar{
        width:220px;
        height:5px;
        border:1px solid #fff;
        background:#fff;
        margin-left:7px;
      }//e:.

        p{
          position:absolute;
          width:170px;
          height:7px;
          left:53px;
          top:0;
          background:#000;
        }

    }//e:#html

    #css{
      position:relative;
      top:530px;
      left:15%;
      z-index:999;
      color:#fff;
      margin-top:25px;

      .bar{
        width:220px;
        height:5px;
        border:1px solid #fff;
        background:#fff;
        margin-left:22px;
      }

      p{
        position:absolute;
        width:170px;
        height:7px;
        left:53px;
        top:0;
        background:#000;
      }
    }//e:#css

    #scss{
      position:relative;
      top:530px;
      left:15%;
      z-index:999;
      color:#fff;
      margin-top:25px;

      .bar{
        width:220px;
        height:5px;
        border:1px solid #fff;
        background:#fff;
        margin-left:22px;
      }

      p{
        position:absolute;
         width:170px;
         height:7px;
         left:63px;
         top:0;
         background:#000;
       }
    }//e:#css

    #js{
      position:relative;
      top:530px;
      left:15%;
      z-index:999;
      color:#fff;
      margin-top:25px;

      .bar{
        width:220px;
        height:5px;
        border:1px solid #fff;
        background:#fff;
        margin-left:22px;
      }

      p{
        position:absolute;
        width:170px;
        height:7px;
        left:112px;
        top:0;
        background:#000;
      }
    }//e:#css

    #ps{
      position:relative;
      top:530px;
      left:15%;
      z-index:999;
      color:#fff;
      margin-top:25px;

      .bar{
        width:220px;
        height:5px;
        border:1px solid #fff;
        background:#fff;
        margin-left:11px;
      }

      p{
        position:absolute;
        width:170px;
        height:7px;
        left:112px;
        top:0;
        background:#000;
      }
    }//e:#css

  p{
    transition:all .6s;
  }
  }//e:#skills
  #footer_p{
    display:none !important;
  }
}//e:#wrap

#wrap2{
  width:100%;
  height:0;
  background:#22252c;
  clear:both;
  overflow:hidden;
  transition:all 1s;

  #myinfo{
    margin:200px 0 0 100px;
    float:left;
    background:url('../images/my_bg.png') no-repeat;

    #myimg{
      transform:scale(.6,.6);
      transition:all 1s;
      margin:-49px 0 0 -37px;
    }

    #myimg:hover{
      transform:scale(.8,.8);
    }//e:#myimg

    #menu{
      margin-top:-30px;
      text-align:center;

      li{
        border:1px solid #ccc;
        position:relative;
        width:80%;
        padding:10px 0;
      }
      li:hover .subMenu{
        opacity:1;
      }

      a{
        padding:5px 10px;
        font-size:14px;
        transition:all .4s;
      }
      a:hover{
        color:#ffa366
      }

      .subMenu{
        opacity:0;
        position:absolute;
        top:44px;
        left:-1px;
        transition:all .6s;
        width:100%;
        li{
          width:100%;
        }
        a{
          transition:all .4s;
          font-weight:lighter;
          font-size:14px;
        }
        a:hover{
          color:#ffa366;
        }
      }//e:.subMenu
    }//e:#menu
  }//e:#myinfo
  #myintro{
    float:left;
    margin:200px 0 0 100px;

    h3{
      position:relative;
      color:#fff;
      font-weight:lighter;
    }
    h3::before{
      content:'';
      position:absolute;
      width:25px;
      height:12.5px;
      left:-28px;
      top:1px;
      background:#82bbb5;
      border-radius:10px;
    }

    #profile{
      p{
      color:#fff;
      font-size:14px;
      font-weight:lighter;
      margin-left:-30px;
      margin-top:10px;
      }
    }//e:#profile

    #sns{
      margin:20px 0 0 -40px;
      p{
        color:#fff;
        padding:0 2.5px;
        margin:0  2.5px;
      }
    }//e:#sns

    #history{
      margin-top:30px;

      p{
      color:#fff;
      font-size:14px;
      font-weight:lighter;
      margin-left:-30px;
      margin-top:10px;
      }
    }//e:#history

    #lisense{
      h3{
        margin-top:30px;
      }
      p{
      color:#fff;
      font-size:14px;
      font-weight:lighter;
      margin-left:-30px;
      margin-top:10px;
      }
    }//e:#lisense;
  }//e:#myintro

  #me{
    width:20%;
    float:right;
    margin:300px 230px 0 0;
    h3{
      color:#e13838;
       text-align: center;
      font-size:1.5em;
      font-weight: lighter;
    }
    p{
      margin-top:30px;
      font-size:13px;
      line-height:2em;
      font-weight:lighter;
      color:#fff;
    }
    strong{
      color:#e13838;
    }
  }//e:#me
  .Cmbtn{
    display:none;
  }
}//e:#wrap2.

.on {opacity:1;}
#wrap3{
  width:100%;
  height:0;
  background:linear-gradient(to right, #00d7c5, #03d6ac, #00d7b6);
  overflow:hidden;

  #wrap3_bg{
    text-align:center;
    position:relative;

    img{
      width:100%;
      opacity:.09;
      position:absolute;
      top:0;
      left:0;
    }
  }//e:#wrap3_bg
  .portfolio{
    margin-top:230px;
    li{
    position:relative;
    margin-top:80px;
    margin-left:170px;
    position:relative;
    float:left;

    img{
      width:300px;
      height:300px;
      opacity:1;
      margin-bottom:10px;
      transition:all .6s;
      transform:scale(.9);
      border:1px solid #ccc;
      padding:15px;
    }

    p{
      opacity: 0;
      position:absolute;
      left:80px;
      top:140px;
      transition:all .6s;
      color:#111;
      font-size:18px;
      font-weight:bold;
      strong{
        font-size:16px;
        font-weight:normal;
      }
    }

    :hover p{
      opacity:1;
    }

    a{
      color:#222222;
      font-size:16px;
      text-align:center;
      font-weight:300;
    }

    :hover{
      img{
        opacity:.3;
        background:#ccc;
        transform:scale(1);
      }
    }//e:hover
  }//e:li
}//e:.portfolio
}//e:#wrap3

#wrap4{
  width:100%;
  height:0;
  background:#313741;
  overflow:hidden;

  #edu_bg{
    text-align:center;
    position:relative;
    img{position:absolute;
      top:80px;
      left:48%;
    }
  }//e:#edu_bg

  li{
    color:#00d7bb;
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin-left:-26%;
    margin-top:230px;

    span{
      font-size:14px;
      font-weight:normal;
      color:#fff;
    }
  }//e:li

  li:nth-child(1){
    text-transform:uppercase;
    font-size:14px;
    font-weight:lighter;
    color:#fff;
    text-align:center;
    margin-left:-38%;
  }//e:li-nth-child(1)

  li:nth-child(2){
    text-transform:uppercase;
    font-size:14px;
    font-weight:lighter;
    color:#fff;
    text-align:center;
    margin-left:37%;
    margin-top:-40px;
  }//e:li-nth-child(2)

  li:nth-child(3){
    color:#00d7bb;
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin-left:38%;
    margin-top:185px;

    span{
      font-size:14px;
      font-weight:normal;
      color:#fff;
    }
  }//e:li-nth-child(3)

  li:nth-child(4){
    text-transform:uppercase;
    font-size:14px;
    font-weight:lighter;
    color:#fff;
    text-align:center;
    margin-left:-38%;
    margin-top:-40px;
  }//e:li-nth-child(4)

  li:nth-child(5){
    color:#00d7bb;
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    margin-left:-38%;
    margin-top:195px;

    span{
      font-size:14px;
      font-weight:normal;
      color:#fff;
    }
  }//e:li:nth-child(5)

  li:nth-child(6){
    text-transform:uppercase;
    font-size:14px;
    font-weight:lighter;
    color:#fff;
    text-align:center;
    margin-left:37%;
    margin-top:-40px;
  }//e:li-nth-child(6)

}//e:wrap4

footer{
  width:100%;
  height:0;
  background:#22252c;
  overflow:hidden;

  p{
    text-align:center;
    margin-top:20px;
    font-weight:lighter;
    color:#02cfb4;
    strong{
      font-size:14px;
    }
  }
}//footer












/*
@media (max-width:420px){
  header{
    height:50px;
    .logoon{
      opacity:0 !important;
    }
    #logo{
      opacity:1;
      transition:all .4s;
      margin:15px 0 0 10px;
      a{
        font-size:14px;
      }
    }//e:#logo
    .gnbon{
      opacity:1 !important;
    }
    #gnb{
      opacity:0;
      transition:all .6s;
      transform:translateX(0);
      margin:-15px 39px 0 0;
      a{
        font-size:13px;
      }
      li{
        padding:0 5px;
      }
    }//e:#gnb
    #m_gnb{
      display:block;
      position:relative;
      float:right;
      margin:9px -396px 0 0;
      .inner{
        position:absolute;
        top:-30px;
        left:-30px;
      }
    }//e:#m_gnb
  }//header

  #wrap{
    #bg{
      img{
        height:100vh;
      }
    }
    #information{
      margin-left:-35px;
      h3{
        margin-top:70px;
        font-size:20px;
        line-height:1em;
        span{
          font-size:20px;
          font-weight:lighter;
        }
        .b{
          font-size:20px;
          font-weight:lighter;
        }
      }

    .sns{
      top:350px !important;
    }//e:.sns

    #skills{
      margin:-130px 0 0 0;
    }
  }//e:#information
  #footer_p{
    display:block !important;
    position:relative;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 663px;
    background: #22252c;
    height: 100px;
    p{
      color:#02cfb4;
      position:absolute;
      left:10px;
      top:15px;
      margin-top:20px;
    }
  }
  }//e:#wrap

  #wrap2{
    position:relative;
    .infoon{
      opacity:0;
    }
    #myinfo{
      transition:all .6s;
      margin:62px 0 0 75px;
    }
    .introon{
      transform: translateY(-640px);
      opacity:1 !important;
    }
    #myintro{
      opacity:0;
    }//e:#myintro
    .meon{
      transform: translateY(-924px);
      opacity:1 !important;
    }
    #me{
      opacity:0;
      width:100%;
      margin: 300px 0 0 0;
      transition:all .6s;
      p{
        margin-top: 10px;
        font-size: 13px;
        line-height: 1.6em;
        font-weight: lighter;
        color: #fff;
      }
    }//e:#me
    .btnon{
      background:rgba(255,241,218,.4);
    }
    button{
      color: #fff;
      height: 46px;
      width: 100px;
      position: absolute;
      left: 152px;
      top: 800px;
      border: 0;
      background:#1d1f21;
      border-radius: 10px;
      transition:all .6s;
      display:block;
    }
    button:hover{
      color: #fff;
      height: 46px;
      width: 265px;
      position: absolute;
      left: 75px;
      top: 800px;
      border: 0;
      background: #1d1f21;
      border-radius: 10px;
    }
  }//e:#wrap2

  #wrap3{
    .portfolio{
      margin-top:121px;
      li{
        margin-top:-83px;
        margin-left:44px;
        transform:scale(.8);
      }
    }//e:.portfolio
  }//e:#wrap3

  #wrap4{
    #edu_bg{
      img{
        top:71px;
      }
    }
    li:nth-child(1){
      margin-left:4%;
      width:40%;
    }
    li:nth-child(2){
      margin-left:66%;
      margin-top:-81px;
      width:30%;
    }
    li:nth-child(3){
      margin-left:67%;
      margin-top:97px;
      width:30%;
    }
    li:nth-child(4){
      margin-left:4%;
      margin-top:-122px;
      width:40%;
    }
    li:nth-child(5){
      margin-left:9%;
      margin-top:138px;
      width:40%;
    }
    li:nth-child(6){
      margin-left:66%;
      margin-top:-117px;
      width:30%;
    }
  }//e:#wrap4

  footer{
    p{
      font-size:12px;
      margin-top:20px;
      strong{
        font-size:12px;
      }
    }
  }
}//@media
*/
